*{
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    
}

#menu {
    height: 80px;
    background-color: none;
    padding: 0 20px;
}

#logo {
    font-size: 30px;
    line-height: 80px;
    color: #003666;
    float: left;
}

nav {
    float: right;
    line-height: 80px;
}

nav a:link {
    text-decoration: none;
    margin-right: 25px;
    color: #003666;
}

nav a:hover {
    border-bottom: 2px solid;
    color: #003666;
}

nav a:visited {
    text-decoration: none;
    margin-right: 25px;
    color: #003666;
}

.ikon {
    margin-right: 7px;
    font-size: 16px;
}

#anasayfa {
    background-color: black;
    height: 600px;
    background-image: url(../img/main.jpg);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}

#black {
    height: 600px;
    background-color: black;
    opacity: 0.5;

}

#icerik {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-70%,-60%);
    color: #fff;
}

#hakkimizda {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
}

h3 {
    font-size: 55px;
    color: #003666;
    text-shadow: 0px 1px black;
    font-weight: 600;
}

.container {
    width: 1200px;
    height: auto;
    margin: auto;
}

#sol {
    float: left;
    border-right: 3px solid #445c6a;
    font-size: 30px;
    width: 400px;
    color: #454545;
}

#h5sol {
    line-height: 1.6;
    font-size: 25px;
    font-weight: 600;
}

span {
    font-size: 50px;
    margin-right: 7px;
    line-height: 42px;
    color: #003666;
    font-weight: 600;
    float: left;
}



#sag {
    float: right;
    width: 750px;
    color:#99999999;
    text-align: left;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 100;
    margin-bottom: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#paketler {
    background-color: #fff;
    padding: 50px;
    text-align: center;
    height: 600px;
}

.card {
    width: 220px;
    height: 350px;
    border:  1px solid #ddd;
    padding: 0;
    display: inline-block;
}

.baslikcard {
    font-size: 20px;
    color: #003666;
}

.cardp {
    color: #888;
}

.card:hover {
    border:2px solid black;
}

#ekip {
    background-color: #003666;
    padding: 50px;
    height: 700px;
    text-align: center;

}

#ekiph3 {
    color: #fff;
}

.sutun-sol-sag {
    width: 385px;
    float: left;
    padding: 50px;
}

.oval {
    border-radius: 5%;
}

.ekipisim {
    color: white;
    font-size: 25px;
    margin-bottom: 12px;
}

.ekipp {
    color: #888;
    font-size: 20px;
}

.social {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    width: 50px;
    border-radius: 5px;
    margin: 5px 10px;
}

.social:hover {
    background-color: #888;
}

.sutun {
    width: 385px;
    float: left;
    padding: 10px;
}








